
a, nav{
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    padding: 1em;
    font-size: 130%;
    color: #b7dfe8;
}
p{
    text-align: center;
    font-size: 130%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 1em;
    color: black;

 
}
h1{
    text-align: center;
    font-size: 150%;
    font-weight: 20em;
    font-style: normal;
    margin-right: 1em;
    margin-left: 1em;
    color: black;

}
footer{
    position: fixed; bottom: 0;
    padding: 0.5em;
    text-align: center;
    color: #b7dfe8;
    background-image: url(./images/background02.jpg);
    position: fixed;  left: 0; right: 0;

}

body{
    min-height: 100%;
    background-color: #b7dfe8;
  
    font-family: "Overpass", serif;
    margin: 0%;
    
   
}
header{
    background-image: url(./images/background02.jpg);
    position: fixed; top: 0 ;
    text-align: center;
    
    position: fixed;  left: 0; right: 0;
}
footer p{
    color: #b7dfe8;
}

main{
     margin-top: 5em;
   
  
    
}
code, pre{
    font-size: 120%;
   
}
li.main_menu {
    display: inline;
}
iframe{
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
html{
    background-color: #b7dfe8;
    height: 100%;
}

